* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  padding: 40px;
  font-family: Quattrocento Sans;
  line-height: 150%;
  font-size: 100%;
  color: #4c4c4c;
}
h1 {
  font-size: 200%;
  font-weight: bold;
}
#company,
#customer {
  font-size: 120%;
  font-weight: bold;
}
.invoice {
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px 45px;
}
.top-left {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}
.logo {
  width: 100%;
  padding: 10px;
  font-family: Paytone One;
  font-size: 250%;
}
.custom-header {
  width: 100%;
  padding: 10px;
  line-height: 125%;
  font-size: 80%;
}
.company-info {
  width: 35%;
  text-align: right;
  padding: 10px;
}
.line {
  width: 100%;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.document-name {
  width: 100%;
  text-align: right;
  padding: 10px;
}
.customer-info {
  width: 65%;
  padding: 10px;
}
.invoice-info {
  width: 35%;
  padding: 10px;
  text-align: right;
}
.invoice-items {
  width: 100%;
  padding: 10px;
}
.invoice-items table {
  width: 100%;
}
.invoice-items thead th {
  line-height: 30px;
}
.col-1 {
  text-align: left;
  width: 450px;
}
.col-2 {
  text-align: right;
  width: 30px;
}
.col-3 {
  width: 80px;
  text-align: right;
}
.col-4 {
  width: 100px;
  text-align: right;
}
.invoice-notes {
  width: 65%;
  padding: 10px;
}
.invoice-totals {
  width: 35%;
  padding: 10px;
}
.invoice-totals table {
  float: right;
}
.custom-footer {
  width: 100%;
  padding: 10px;
  font-size: 80%;
}
