* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    padding: 40px;
    font-family: Quattrocento Sans;
    line-height: 150%;
    font-size: 14px;
    color: #4c4c4c;
}

.usuario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
}

.invoice-datos {
    padding-top: 10px;
}
.invoice-datos th {
    font-weight: bold;
}
.invoice-ike {
    padding-top: 9px;
}

#company,
#customer {
    font-size: 16px;
    font-weight: bold;
}

.invoice {
    display: flex;
    flex-flow: row wrap;
    background-color: #ffffff;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 45px;
}

.top-left {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.logo {
    width: 100%;
    padding: 10px;
    font-family: Paytone One;
    font-size: 36px;
    line-height: 40px;
    padding-top: 0px;
}

.custom-header {
    width: 60%;
    padding: 10px;
    line-height: 125%;
    font-size: 12px;
}

.company-info {
    width: 35%;
    text-align: right;
    padding: 10px;
}

.line {
    width: 100%;
    border: solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customer-info {
    width: 36%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 13px;
}

.invoice-info {
    width: 50%;
    text-align: left;
    padding-left: 120px;
    margin-left: 90px;
    padding-top: 10px;
}

.padreDos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.invoice-items {
    width: 100%;
    padding: 10px;
}

.invoice-items table {
    width: 100%;
}

.invoice-items thead th {
    line-height: 30px;
    font-weight: bold;
}

.invoice-items p {
    font-size: 12px;
}

.col-1 {
    text-align: left;
    width: 450px;
    font-weight: normal;
}

.col-2 {
    text-align: right;
    width: 30px;
}

.col-3 {
    width: 100px;
    text-align: right;
}

.invoice-totals .col-3 {
    width: 0px;
    text-align: right;
}

.col-4 {
    width: 100px;
    text-align: right;
}

.padreFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-between;
}

.invoice-notes {
    width: 61%;
    padding: 10px;
}

.invoice-totals {
    width: 39%;
    padding: 10px;
    text-align: right;
}

.invoice-totals table {
    float: right;
}

.invoice-totals th.col-3 {
    padding-right: 5px;
}

.invoice-totals td.col-4 {
    padding-left: 0px;
    padding-right: 30px;
}

.firmas1 {
    margin: 10px;
    max-width: 50%;
}

.firmas2 {
    margin: 10px;
    max-width: 50%;
}

.pFirma {
    text-align: center;
}

.totalFirmas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.custom-footer {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.rwd {
    overflow: auto;
}


/*** querys **/

@media screen and (max-width: 891px) and (min-width: 768px) {
    .usuario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    h1 {
        line-height: 30px;
    }
    .customer-info {
        width: 35%;
        padding: 10px;
    }
    .invoice-info {
        width: 50%;
        text-align: left;
        padding-left: 120px;
        margin-left: 80px;
    }
    .padreDos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
    }
    .totalFirmas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: space-between;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 790px) and (min-width: 604px) {
    .usuario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        word-wrap: break-word;
    }
    h1 {
        line-height: 30px;
    }
    .invoice-datos {
        margin-right: -53px;
        padding-right: 170px;
    }
    .invoice-info {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    .customer-info {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .padreDos {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .padreFlex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: space-between;
    }
    .invoice-notes {
        width: 100%;
    }
    .invoice-totals {
        width: 95%;
        margin-left: 40px;
    }
    .totalFirmas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        word-wrap: break-word;
        text-align: center;
    }
}

@media screen and (max-width: 603px) and (min-width: 415px) {
    .invoice {
        margin: -35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        background-color: #ffffff;
        max-width: auto;
        padding: 20px 0px;
    }
    .usuario {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .company-info,
    .top-left div {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin: 0px;
    }
    h1 {
        line-height: 30px;
    }
    .invoice-datos {
        margin-right: -53px;
        padding-right: 170px;
    }
    .invoice-info {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    .customer-info {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .padreDos {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .padreFlex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: space-between;
    }
    .invoice-notes {
        width: 100%;
    }
    .invoice-totals {
        width: 95%;
        margin-left: 40px;
    }
    .totalFirmas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        word-wrap: break-word;
        text-align: center;
    }
}

@media screen and (max-width: 414px) and (min-width: 321px) {
    .invoice {
        margin: -35px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        text-align: center;
        background-color: #ffffff;
        max-width: auto;
        padding: 20px 0px;
    }
    .usuario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .custom-header {
        width: 100%;
        text-align: center;
    }
    .company-info {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .invoice-datos {
        margin-right: 45px;
        padding-right: 70px;
    }
    h1 {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }
    .customer-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin-left: 10px;
    }
    .invoice-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin-left: 10px;
    }
    .padreDos {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .rwd td,
    th.col-4 {
        width: 100%;
        padding: 6px;
    }
    .col-1 {
        text-align: left;
        min-width: 169px;
    }
    .padreFlex {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-between;
    }
    .invoice-totals {
        width: 100%;
        padding: 10px;
        margin-right: -10px;
    }
    .totalFirmas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 320px) and (min-width: 0px) {
    .invoice {
        margin: -35px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        text-align: center;
        background-color: #ffffff;
        max-width: auto;
        padding: 10px 0px;
    }
    .logo {
        margin-left: 70px;
    }
    .custom-header {
        width: auto;
        text-align: center;
        padding-left: 100px;
    }
    .company-info {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .invoice-info,
    .customer-info {
        width: 100%;
        text-align: center;
    }
    h1 {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }
    .customer-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin-left: 10px;
    }
    .invoice-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin-left: 10px;
    }
    .padreDos {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .rwd td,
    th.col-4 {
        width: 100%;
        padding: 6px;
    }
    .col-1 {
        text-align: left;
        min-width: 169px;
    }
    .padreFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .invoice-totals {
        width: 100%;
        padding: 10px;
        margin-right: -10px;
    }
    .totalFirmas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        word-wrap: break-word;
    }
}