<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Invoice litle</title>

    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>


    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Paytone+One">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
</head>

<body>

    <div class="invoice" id="app">
        <div class="usuario">
            <div class="top-left">
                <div class="logo">
                    <!--                        Miguel Uribe MV S.A.S-->
                    {{ company.name }} <br> 
                </div>
                <div class="custom-header">
                    <!--
                    <p>ACTIVIDAD ECONÓMICA 7500</p>
                    <p>TARIFA. ICA 9.66X1000</p>
                    <p>IVA Regimen Común</p>
                    
-->
                    <p v-for="compa in company.activity">
                        {{ compa }}
                    </p>
                </div>
            </div>
            <div class="company-info">
                <p id="company">{{ name}}</p>
                <!--
                <p>Nit. 900643855-4</p>
                <p>migauribe@yahoo.com</p>
                <p>3212900914</p>
                <p>Kr 79 No. 127C - 45 IN 2 AP 101</p>
                <p>Bogotá</p>
                <p>Colombia</p>
-->
                <p v-for="inf in company.info">
                    {{ inf }}
                </p>
            </div>
        </div>
        <div class="line"></div>

        <div class="padreDos">
            <div class="customer-info">
                <!--                <p id="customer">IKE ASISTENCIA COLOMBIA</p>-->
                <p id="customer">{{ customerInfo.name }}</p>
                <div class="invoice-ike">
                    <!--
                    <p>NIT. 900106251-3</p>
                    <p>Cll 93B 17 - 25 Piso 6</p>
                    <p>Edif. Centro Internacional de Negocios</p>
                    <p>Bogotá</p>
                    <p>Colombia</p>
-->
                    <p v-for="custom in customerInfo.customer">
                        {{ custom }}
                    </p>
                </div>
            </div>
            <div class="invoice-info">
                <!--                <h1 style="display: block;">Factura de Venta</h1>-->
                <h1 style="display: block;">{{ invoiceInfo.name }}</h1>
                <div class="invoice-datos">
                    <!--
                    <p class="negrita negrita1">Número: </p>
                    <p class="sinSalto sinSalto1">1607</p>
                    <p class="negrita negrita2">Fecha: </p>
                    <p class="sinSalto sinSalto2">17/02/2017</p>
                    <p class="negrita negrita3">Vencimiento: </p>
                    <p class="sinSalto sinSalto3">19/03/2017</p>
                    <p class="negrita negrita4">Referencia: </p>
                    <p class="sinSalto sinSalto4">Banco Popular</p>
-->
                    <p class="negrita negrita1"> {{ invoiceInfo.invoice.numero }} </p>
                    <p class="sinSalto sinSalto1">{{ invoiceInfo.invoice.numDato }}</p>
                    <p class="negrita negrita2"> {{ invoiceInfo.invoice.fecha }}</p>
                    <p class="sinSalto sinSalto2">{{ invoiceInfo.invoice.fechaDato }}</p>
                    <p class="negrita negrita3">{{ invoiceInfo.invoice.vencimiento }}</p>
                    <p class="sinSalto sinSalto3">{{ invoiceInfo.invoice.venDato }}</p>
                    <p class="negrita negrita4">{{ invoiceInfo.invoice.referencia }}</p>
                    <p class="sinSalto sinSalto4">{{ invoiceInfo.invoice.refDato }}</p>
                </div>
            </div>
        </div>
        <div class="invoice-items rwd">
            <table class="top-left rwd_auto">
                <thead>
                    <tr>
                        <!--
                        <th class="col-1">Descripción</th>
                        <th class="col-2">Cant</th>
                        <th class="col-3">Precio</th>
                        <th class="col-4">Total</th>
-->
                        <th class="col-1">{{ thead.description }}</th>
                        <th class="col-2">{{ thead.count }}</th>
                        <th class="col-3">{{ thead.price }}</th>
                        <th class="col-4">{{ thead.total }}</th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                    <tr>
                        <td class="col-1">Consulta médica veterinaria presencial
                            <p>Hablar para consultas médicas veterinarias</p>
                        </td>
                        <td class="col-2">4</td>
                        <td class="col-3">15.000</td>
                        <td class="col-4">60.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Hablar para consultas médicas veterinarias
                            <p>Tener una reunión con el Dr para ver a la mascota</p>
                        </td>
                        <td class="col-2">2</td>
                        <td class="col-3">85.000</td>
                        <td class="col-4">170.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Acupuntura Veterinaria
                            <p>dejar a tu mascota como nueva</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">100.000</td>
                        <td class="col-4">100.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Anestesia de Pequeños Animales
                            <p>Dormir al animal</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">50.000</td>
                        <td class="col-4">50.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Limpieza dental
                            <p>Limpiar dientes del animal</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">100.000</td>
                        <td class="col-4">100.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Chequeo del corazón
                            <p>Cualquier tipo de cirugía</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">150.000</td>
                        <td class="col-4">150.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">Cirugía Veterinaria de Animales Pequeños
                            <p>Cirugía en tejidos blandos</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">200.000</td>
                        <td class="col-4">200.000,0</td>
                    </tr>
                    <tr>
                        <td class="col-1">MultiCiruguia
                            <p>Cualquier tipo de cirugía</p>
                        </td>
                        <td class="col-2">1</td>
                        <td class="col-3">100.000</td>
                        <td class="col-4">100.000,0</td>
                    </tr>
-->
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr1.titulo }}
                            <p>{{ tbody.tbodyr1.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr1.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr1.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr1.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr2.titulo }}
                            <p>{{ tbody.tbodyr2.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr2.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr2.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr2.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr3.titulo }}
                            <p>{{ tbody.tbodyr3.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr3.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr3.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr3.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr4.titulo }}
                            <p>{{ tbody.tbodyr4.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr4.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr4.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr4.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr5.titulo }}
                            <p>{{ tbody.tbodyr5.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr5.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr5.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr5.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr6.titulo }}
                            <p>{{ tbody.tbodyr6.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr6.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr6.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr6.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr7.titulo }}
                            <p>{{ tbody.tbodyr7.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr7.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr7.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr7.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr8.titulo }}
                            <p>{{ tbody.tbodyr8.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr8.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr8.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr8.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="padreFlex">
            <div class="invoice-notes">
                <p v-for="invoice in invoiceNotes">
                {{ invoice }}
                </p>
<!--                <p>Nos acogemos a los beneficios establecidos en la Ley 1429 de 2010. Favor no aplicar Retención en la Fuente. CONSIGNAR EN BANCOLOMBIA CUENTA DE AHORROS No. 20611685999 A NOMBRE DE MIGUEL URIBE MV S.A.S</p>-->
            </div>
            <div class="invoice-totals">
                <table>
                    <tbody style="display: table-row-group;">
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headSubtotal }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataSubtotal }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headIva }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataIva }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headTotal }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataTotal }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headRete }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataRete }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headRetefuente }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataRetefuente }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headSaldo }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataSaldo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="totalFirmas">
            <div class="firmas1">
                <p class="lineaA">{{ totalFirmas.firma1.lineaA }}</p>
                <p class="pFirma">{{ totalFirmas.firma1.pFirma }}</p>
            </div>
            <div class="firmas2">
                <p class="lineaA">{{ totalFirmas.firma2.lineaA }}</p>
                <p class="pFirma">{{ totalFirmas.firma2.pFirma }}</p>
            </div>
        </div>
        <div class="custom-footer">
            <p>{{ footer }}</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/datos.js"></script>

</html>