<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Invoice litle</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Paytone+One">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
</head>

<body>
    <div class="invoice" id="app">
        <div class="usuario">
            <div class="top-left">
                <div class="logo">
                    {{ company.name }} <br>
                </div>
                <div class="custom-header">
                    <p v-for="compa in company.activity">
                        {{ compa }}
                    </p>
                </div>
            </div>
            <div class="company-info">
                <p id="company">{{ name}}</p>
                <p v-for="inf in company.info">
                    {{ inf }}
                </p>
            </div>
        </div>
        <div class="line"></div>
        <div class="padreDos">
            <div class="customer-info">
                <h1 id="customer">{{ customerInfo.name }}</h1>
                <div class="invoice-ike">
                    <p v-for="custom in customerInfo.customer">
                        {{ custom }}
                    </p>
                </div>
            </div>

            <div class="invoice-info">
                <h1 style="display: block;">{{ invoiceInfo.name }}</h1>

                <div class="invoice-datos">
                    <table class="">
                        <thead>
                            <tr>
                                <th class="col-1">
                                    <p> {{ invoiceInfo.invoice.numero }} </p>
                                </th>
                                <td class="col-1">
                                    <p>{{ invoiceInfo.invoice.numDato }}</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-1">
                                    <p> {{ invoiceInfo.invoice.fecha }} </p>
                                </th>
                                <td class="col-1">
                                    <p>{{ invoiceInfo.invoice.fechaDato }}</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-1">
                                    <p> {{ invoiceInfo.invoice.vencimiento }} </p>
                                </th>
                                <td class="col-1">
                                    <p>{{ invoiceInfo.invoice.venDato }}</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-1">
                                    <p> {{ invoiceInfo.invoice.referencia }} </p>
                                </th>
                                <td class="col-1">
                                    <p>{{ invoiceInfo.invoice.refDato }}</p>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="invoice-items rwd">
            <table class="top-left rwd_auto">
                <thead>
                    <tr>
                        <th class="col-1">{{ thead.description }}</th>
                        <th class="col-2">{{ thead.count }}</th>
                        <th class="col-3">{{ thead.price }}</th>
                        <th class="col-4">{{ thead.total }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr1.titulo }}
                            <p>{{ tbody.tbodyr1.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr1.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr1.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr1.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr2.titulo }}
                            <p>{{ tbody.tbodyr2.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr2.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr2.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr2.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr3.titulo }}
                            <p>{{ tbody.tbodyr3.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr3.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr3.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr3.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr4.titulo }}
                            <p>{{ tbody.tbodyr4.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr4.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr4.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr4.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr5.titulo }}
                            <p>{{ tbody.tbodyr5.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr5.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr5.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr5.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr6.titulo }}
                            <p>{{ tbody.tbodyr6.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr6.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr6.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr6.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr7.titulo }}
                            <p>{{ tbody.tbodyr7.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr7.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr7.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr7.total }}</td>
                    </tr>
                    <tr>
                        <td class="col-1">{{ tbody.tbodyr8.titulo }}
                            <p>{{ tbody.tbodyr8.description }}</p>
                        </td>
                        <td class="col-2">{{ tbody.tbodyr8.count }}</td>
                        <td class="col-3">{{ tbody.tbodyr8.price }}</td>
                        <td class="col-4">{{ tbody.tbodyr8.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="padreFlex">
            <div class="invoice-notes">
                <p v-for="invoice in invoiceNotes">
                    {{ invoice }}
                </p>
            </div>
            <div class="invoice-totals">
                <table>
                    <tbody style="display: table-row-group;">
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headSubtotal }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataSubtotal }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headIva }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataIva }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headTotal }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataTotal }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headRete }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataRete }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headRetefuente }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataRetefuente }}</td>
                        </tr>
                        <tr>
                            <th class="col-3">{{ invoiceTotal.head.headSaldo }}</th>
                            <td class="col-4">{{ invoiceTotal.headData.dataSaldo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="totalFirmas">
            <div class="firmas1">
                <p class="lineaA">{{ totalFirmas.firma1.lineaA }}</p>
                <p class="pFirma">{{ totalFirmas.firma1.pFirma }}</p>
            </div>
            <div class="firmas2">
                <p class="lineaA">{{ totalFirmas.firma2.lineaA }}</p>
                <p class="pFirma">{{ totalFirmas.firma2.pFirma }}</p>
            </div>
        </div>
        <div class="custom-footer">
            <p>{{ footer }}</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/datos.js"></script>

</html>