@media print {
    @page {
        size: letter ;
        
        margin: 10px -50px 10px -50px;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;    
        page-break-after: auto;
    }
    .invoice {
        margin-top: -60px;
    }
    
   
}

